<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Hello</title>

        <!-- Web Jars -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
        <script src="/webjars/jquery/4.4.1/jquery.min.js"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>


        <link rel="stylesheet" type="text/css" th:href="@{/css/sidemenu.css}">
        <script th:src="@{/js/sidemenu.js}" type="text/javascript"></script>
    </head>

    <body>
        <div  th:replace="fragments/sidemenu :: sidemenu">
        </div>

        <div  th:replace="fragments/sidebar :: sidebar">
        </div>

        <div  th:replace="fragments/searching :: search(${searching})"></div>

        <div id="books" class = "container" style="margin-top: 90px">
            <th:block th:each="it : ${itr}">
                <div class="row mb-2">
                    <div class="col-md-5 offset-md-1">
                        <div  th:replace="fragments/bookpost :: bookpost(${books[it]})"></div>
                    </div>

                    <th:block th:if="${it+1} < ${#lists.size(books)}">
                        <div class="col-md-5">
                            <div th:replace="fragments/bookpost :: bookpost(${books[it+1]})"></div>
                        </div>
                    </th:block>
                </div>
            </th:block>
        </div>
    </body>

</html>