<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Hello</title>

        <!-- Web Jars -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
        <script src="/webjars/jquery/4.4.1/jquery.min.js"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>


        <link rel="stylesheet" type="text/css" href="css/sidemenu.css">
        <script src="js/sidemenu.js" type="text/javascript"></script>
    </head>

    <body>
        <div  th:replace="fragments/sidemenu :: sidemenu">
        </div>

        <div  th:replace="fragments/sidebar :: sidebar">
        </div>

        <div id="books" class = "container mt-3">
            <th:block th:each="book : ${books}">
                <div class="row mb-2">
                    <div class="col-md-5 offset-md-1">
                        <div  th:replace="fragments/bookpost :: bookpost(${book})"></div>
                    </div>

                    <div class="col-md-5">
                        <div  th:replace="fragments/bookpost :: bookpost(${book})"></div>
                    </div>
                </div>
            </th:block>
        </div>
    </body>

</html>