<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Hello</title>

        <!-- Web Jars -->
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" />
        <script src="/webjars/jquery/4.4.1/jquery.min.js"></script>
        <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>


        <link rel="stylesheet" type="text/css" th:href="@{/css/sidemenu.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/addform.css}">
        <script th:src="@{/js/sidemenu.js}" type="text/javascript"></script>
    </head>

    <body>
        <div  th:replace="fragments/sidemenu :: sidemenu"></div>
        <div  th:replace="fragments/sidebar :: sidebar"></div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <form th:object="${book}" th:action="@{/book/add}" method="post">
                        <div class="form-group">
                            <h2 class = "text-center"> Yeni Kitap Ekle</h2>
                            <hr class="w-50 mb-5">

                            <div class="row mb-3">
                                <div class="col-md-5 offset-md-1 px-0 text-right">
                                    <span>Kitap Adı:</span>
                                    <input th:field="*{bookName}" type="text" />
                                </div>
                                <div class="col-md-5 px-0 text-right">
                                    <span>Alt Kitap Adı:</span>
                                    <input th:field="*{bookSubName}" type="text" />
                                </div>
                            </div>
                            <hr class="mb-3">

                            <div class="row mb-3">
                                <div class="col-md-5 px-0 offset-md-1 text-right">
                                    <span>ISBN No:</span>
                                    <input th:field="*{isbnNo}" type="text" />
                                </div>
                                <div class="col-md-5 px-0 text-right">
                                    <span>Seri Adı:</span>
                                    <input th:field="*{serialName}" type="text" />
                                </div>
                            </div>
                            <div class="row  mb-3">
                                <div class="col-md-5 px-0 offset-md-1 text-right">
                                    <span>Yazar Adı:</span>
                                    <input th:field="*{author.authorName}" type="text" />
                                </div>
                                <div class="col-md-5 px-0 text-right">
                                    <span>Yazar Soyadı:</span>
                                    <input th:field="*{author.authorLastName}" type="text" />
                                </div>
                            </div>
                            <hr class="mb-3">

                            <div class="row  mb-3">
                                <div class="col-md-5 px-0 offset-md-1 text-right">
                                    <span>Açıklama:</span>
                                    <textarea th:field="*{description}" id="textarea" rows="5" type="text" style=""></textarea>
                                </div>
                                <div class="col-md-5 px-0 text-right" >
                                    <div>
                                        <span>Yayın Evi:</span>
                                        <input th:field="*{publisher.publisherName}" type="text" />
                                    </div>
                                    <div class="text-center h-100 mt-5">
                                        <button >Fotoğraf Ekle</button>
                                    </div>
                                </div>
                            </div>
                            <div class = "row justify-content-center">
                                <div class = "col-md-7 offset-md-1 px-0">
                                    <button type="submit" class="btn mt-3 form-control" style="width: 100%; background-color: #ff0000;color : white;">Onayla</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>

</html>