<div th:fragment="bookpost(book)">
    <div class="card flex-md-row mb-4 box-shadow" style="max-height: 350px !important;height: 350px">
        <div class="card-body d-flex flex-column align-items-start" style="max-height: 350px !important;height: 350px">
            <h4 class="mb-0">
                <span class="text-dark" th:text="${book.bookName}"> Name </span>
            </h4>
            <div class="mb-1 text-muted" th:text="${book.bookSubName}">SubName</div>


            <a class="d-inline-block mb-2 text-success" th:href="${book.author} != null ? @{/author/{id}(id = ${book.author.id})} : ''" th:text="${book.author} != null ? ${book.author.authorFullname} : '-'">Author</a>


            <p class="card-text mb-2 text-dark" th:text="${(#strings.length(book.description) > 140)} ? ${#strings.substring(book.description,0,140)} + '...' : ${book.description} ">Açıklama</p>


            <p class="card-text mb-1">
                <a th:href="${book.publisher} != null ? @{/publisher/{id}(id = ${book.publisher.id})} : @{/publisheryok}">
                    <span  th:text="${book.publisher} != null ? ${book.publisher.publisherName} : '-'"></span>
                </a>
            </p>

            <a th:href="@{/book/{id}(id=${book.id})}">Detay</a>
        </div>

        <img class="card-img-right flex-auto d-none d-md-block" th:src="*{'data:image/jpg;base64,'+ book.bookImage64}" data-holder-rendered="true" style="width: 200px; height: 300px;">
    </div>
</div>