textarea{
    vertical-align: top;
    resize: none;
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    width: 250px;
    color: #6d6aab;
}

input{
    border: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
    background-color: #ffffff;
    width: 250px;
    height: 30px;
    color: #6d6aab;
}

