.menu-a:visited,
.menu-a:link,
.menu-a:hover,
.menu-a:active {
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
}

.menu-a:hover {
    color: black;
}

.hamburger-line{
    width: 25px;
    height: 5px;
    background-color: black;
    margin-top: 5px;
}

.shift-right-hamburger{
    position: fixed;
    top: 10px;
    left: 210px;
    cursor: pointer;
}
.shift-left-hamburger{
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;

}

.menu{
    position: fixed;
    top: 0px;
    padding-top: 80px;
    width: 200px;
    height: 100vh;
    background-color: #283E4A;
    transition: width 2s ease-in-out;
}

.menu-item{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.disabled{
    display: none;
}


.booksright{
    margin-left: 200px;
}

.searchbar{
    z-index: 100;
    position: fixed;
    top: 10px;
    width: 60%;
    height: 60px;
    margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;"
}


.container{
    z-index: 90;
}