/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.for_slick_slider{
    margin: 0 auto;
    display: flex;
    width: 550px;
    height: 150px;
}

.for_slick_slider .items{
    width : 100px;
    height : 150px;
}

.for_slick_slider .items div{
    width : 100px;
    height : 150px;
}

.slick-prev,.slick-next{
    margin-top: 60px;
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;
    color: transparent;
}

.slick-prev{
    background-image: url("/img/leftarr.png");
    margin-right: 6px;
}

.slick-next{
    background-image: url("/img/rightarr.png");
    margin-left: 0px;
}

.card{
    border: 1px solid #808080	;
}

.card hr{
    border: 0.5px solid #7e7e7e;
    margin-left: 5px;
    width: 90%;
}

.divright{
    margin-left: 300px;
}

a:visited,
a:link,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}
