<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>User Form</title>

    <!-- Web Jars -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

    <!--CSS-->
    <style>
        input.form-control:active,
        input.form-control:focus,
        input.form-control:focus:active,
        input.form-control{
            background-color: #ededed;
            border : 1px solid #a9a9a9;
        }

        body,
        a:hover,
        a{
            color : white;
        }
    </style>
</head>

<body class = "bg-dark">
    <div class="container" style="margin-top: 20px" >
        <div class="row justify-content-center">
            <div class="col-md-9">
                <form method="post">

                    <div class="form-group">
                        <h2 class = "text-center mb-5"> Giriş Yap </h2>

                        <div class="row align-items-center justify-content-center mb-3">
                            <div class="col-md-4 px-0">
                                <input type="text" name="username" placeholder = "Kullanıcı Adı" class="form-control cus-inp"/>
                            </div>
                        </div>

                        <div class="row align-items-center justify-content-center mb-5">
                            <div class="col-md-4 px-0">
                                <input type="password" name="password" placeholder = "Şifre" class="form-control cus-inp"/>
                            </div>
                        </div>

                        <div class = "row justify-content-center">
                            <div class = "col-md-4 px-0 mb-2">
                                <button type="submit" class="btn mt-3 form-control" style="width: 100%; background-color: #ff0000;color : white;">Giriş</button>
                            </div>

                            <div th:if="${param.error}" class="w-100"></div>
                            <div th:if="${param.error}" class="mb-4 text-danger">
                                Geçersiz Kullanıcı Adı ya da Şifre.
                            </div>

                            <div th:if="${param.logout}" class="w-100"></div>
                            <div th:if="${param.logout}" class="mb-4 text-info">
                                Çıkış Yapıldı.
                            </div>

                            <div class="w-100"></div>
                            <div class = "col-md-4 px-0 text-center">
                                <a th:href="@{/signup}">Kayıt Ol!</a>
                            </div>

                            <div class="w-100"></div>
                            <div class = "col-md-4 px-0 text-center">
                                <a th:href="@{/admin/signup}">Admin Olarak Kayıt Ol!</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
